.custom-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('https://i1.pickpik.com/photos/534/347/582/children-child-boy-girl-c38c28ea14409500965ec791351bb835.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: zoomIn 14s ease-in-out infinite alternate;
  transform-origin: center;
}

.custom-hero .hero-overlay,
.custom-hero .hero-content {
  position: relative;
  z-index: 10;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
