@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: var(--font-lora), Arial, Helvetica, sans-serif;
}
.font-lora {
  font-family: var(--font-lora), Arial, Helvetica, sans-serif;
}
.font-cinzel {
  font-family: var(--font-cinzel), Arial, Helvetica, sans-serif;
}
.font-domine {
  font-family: var(--font-domine), Arial, Helvetica, sans-serif;
}
.font-literata {
  font-family: var(--font-literata), Arial, Helvetica, sans-serif;
}