@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: var(--font-caudex), Arial, Helvetica, sans-serif;
}
.font-cinzel {
  font-family: var(--font-cinzel), Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
.font-domine {
  font-family: var(--font-domine), Arial, Helvetica, sans-serif;
}
.font-caudex {
  font-family: var(--font-caudex), Arial, Helvetica, sans-serif;
}